<!DOCTYPE html>
<html>
    <head>
        <title>
            Short URL Microservice
        </title>
    </head>
    <body>
        <h1>
            Hi! This is my short URL microservice.
            Here is how you can use it:
        </h1>
        <h2>
            Original URL
        </h2>
        <p>
            You can enter an original, HTTPS url at the end of this link following "/api/", like this:
        </p>
        <a href = "localhost:3005/api/https://www.google.com/"> localhost:3005/api/https://wwww.google.com/ </a>
        <p>
            This will generate you back a short URL which links you to https://www.google.com/
        </p>
        <h2>
            Short URL
        </h2>
        <p>
            This is the short URL:
        </p>
        <a href = "localhost:3005/url/3741"> localhost:3005/url/3741 </a>
        <p>
            Pay special attention! The short URL is a 4 digit number followed by "/url/", not "/api/".
        </p>
    </body>
</html>